/* header {
    background-color: grey;
} */

.btn-info {
    border-color: #D5D8DC;
}

.form-control {
    border-color: #D5D8DC;
}

a {
    font-size: 1.2em;
    font-weight: 600;
}

.input-group-text {
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}


/* .form-control {
    width: 14.5em;
} */

.firstCurrency {
    position: absolute;
    top: 4.7em;
    left: 2em;
}

.secondCurrency {
    position: absolute;
    top: 8.1em;
    left: 2em;
}